<h1>نرخ تغییر</h1>

<ul>
    <li>differentiation</li>
    <li>tangent line</li>
    <li>equation</li>
    <li>tangent line equation</li>
    <li>falling body</li>
    <li>instantaneous velocity</li>
    <li>Isac Newton</li>
    <li>initial velocity</li>
    <li>velocity</li>
    <li>Galileo Galilei</li>
    <li>equations for falling body</li>
    <li>distance</li>
    <li>average velocity</li>
    <li>curve</li>
    <li>graph</li>
    <li>distance curve</li>
    <li>rate of change</li>
</ul>

<p>
    done
</p>
<p>
    <a href="https://youtu.be/J27BZCX1OF8" target="_blank">YouTube</a>
</p>