<ul>
    <li>
        داستان ها
        <ul>
            <li>
                سطح صفر
                <ul>
                    <li></li>
                </ul>
            </li>
            <li>
                سطح یک
                <ul>
                    <li>
                        <a href="/language/english/graded-stories/level-one/brown-eyes">Brown Eyes</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="/language/english/english-difficulties-for-persians">دلایل سختی</a>
    </li>
</ul>