<h1>حسابان</h1>

<ul>
    <li>
        <a href="/formal-sciences/calculus/introduction">مقدمه</a>
    </li>
    <li>
        <a href="/formal-sciences/calculus/tangent-slope">شیب مماس</a>
    </li>
    <li>
        <a href="/formal-sciences/calculus/rate-of-change">نرخ تغییر</a>
    </li>
</ul>