
<h1>نفکانتو</h1>

<p>
    نفکانتو = اسمی بی معنا، خوش آوا
</p>
<p>
    مدت ها پیش یه برنامه نوشتم که با قوانین ساده مورفولوژی انگلیسی، کلمه بسازه.
</p>
<p>
    از بین کلماتی که ساخت، من اینو خوشم اومد.
</p>