<h1>دستگاه معادلات خطی</h1>

<ul>
    <li>system of linear equations</li>
    <li>calculus</li>
    <li>linear algebra</li>
    <li>undergraduate</li>
    <li>semester</li>
    <li>curriculum</li>
    <li>line</li>
    <li>algebra</li>
    <li>linear equations</li>
    <li>real-world application</li>
    <li>linear relation</li>
    <li>y = mx + b</li>
    <li>omnipresent</li>
    <li>slope</li>
    <li>rise over run</li>
    <li>m = slope</li>
    <li>intercept</li>
    <li>y = intercept</li>
    <li>slope = delta y / delta x</li>
    <li>constant</li>
    <li>quadradic function</li>
    <li>constant function</li>
    <li>cubic function</li>
    <li>quartic function</li>
    <li>solve for a variable</li>
    <li>exponent</li>
    <li>exponentiation</li>
    <li>coefficient</li>
    <li>variable (unknown)</li>
    <li>equation solving</li>
    <li>line-line intersection</li>
    <li>Consistent and inconsistent equations</li>
    <li>dimension</li>
    <li>line plane intersection</li>
    <li>plane plane intersection</li>
    <li>matrix notation</li>
</ul>

<ul>
    <li>linear algebra => after several semester of calculus in undergraduate math curriculum</li>
    <li>constant function < linear equation < quadradic function => simple < intermediate < complex</li>
    <li>system of linear equations = more than one linear equation</li>
    <li>linear equation => a1x1 + a2x2 + ... + anxn = b</li>
    <li>linear equation => no exponentiation, no roots, no trigonometric function, variable product, variable quotient, etc.</li>
</ul>

<p>
    done
</p>