<h1>زبان عربی</h1>

<p>
    من با توجه به اینکه زبان رو دوست دارم، به انگلیسی تقریبا مسلطم، زبانشناسی بلدم، و چند زبان دیگه رو مقداری یاد گرفتم، در زبان عربی فعلا چیزی ندیدم که دلیلی بر برتری این زبان به زبان های دیگه باشه. و اینجا مشکلاتی که توش دیدم رو مینویسم.
</p>

<hr />

<h3>اعداد و جمع بندی</h3>
<ul>
    <li>سیاره واحده</li>
    <li>سیارتان اثنتان</li>
    <li>ثالث سیارات</li>
    <li>...</li>
    <li>احدی عشره سیاره</li>
</ul>

<p>گاهی اسم جمع، یعنی کمتر، و اسم مفرد یعنی بیشتر</p>