@{ 
    var naturalSciences = "natural-sciences";
}

<ul>
    <li>
        <a href="/@naturalSciences/astronomy">نجوم</a>
    </li>
    <li>
        <a href="/@naturalSciences/chemistry">شیمی</a>
    </li>
    <li>
        <a href="/@naturalSciences/organic-chemistry">شیمی آلی</a>
    </li>
    <li>
        <a href="/@naturalSciences/biochemistry">زیست شیمی</a>
    </li>
    <li>
        <a href="/@naturalSciences/biology">زیست شناسی</a>
    </li>
    <li>
        <a href="/@naturalSciences/anatomy">آناتومی</a>
    </li>
    <li>
        <a href="/@naturalSciences/neurology">مغز و اعصاب</a>
    </li>
    <li>
        <a href="/@naturalSciences/classical-physics">فیزیک کلاسیک</a>
    </li>
    <li>
        <a href="/@naturalSciences/modern-physics">فیزیک مدرن</a>
    </li>
</ul>

@*
    immunology
    mycology
    botony
    history of drugs
    pharmacology
    microbiology
*@