@{
    var formalSciences = "formal-sciences";
}

<ul>
    <li>
        <a href="/@formalSciences/algebra">جبر</a>
    </li>
    <li>
        <a href="/@formalSciences/geometry">هندسه</a>
    </li>
    <li>
        <a href="/@formalSciences/linear-algebra">جبر خطی</a>
    </li>
    <li>
        <a href="/@formalSciences/trigonometry">مثلثات</a>
    </li>
    <li>
        <a href="/@formalSciences/calculus">حسابان</a>
    </li>
    <li>
        <a href="/@formalSciences/advanced-math">ریاضیات پیشرفته</a>
    </li>
</ul>