<h1>انتگرال چندگانه</h1>

<ul>
    <li>integral</li>
    <li>linear algebra</li>
    <li>integration</li>
    <li>double integral</li>
    <li>triple integral</li>
    <li>antiderivative</li>
    <li>function</li>
    <li>calculus</li>
    <li>area beneath curve</li>
    <li>volume beneath the surface</li>
    <li>intermost integral</li>
    <li>integrand</li>
    <li>bound</li>
    <li>constant</li>
    <li>integration domain</li>
    <li>curved edge</li>
    <li>order of integration</li>
    <li>coordinate</li>
    <li>lower bound</li>
    <li>upper bound</li>
    <li>outermost bound</li>
    <li>with respect to</li>
    <li>dimension</li>
    <li>variable elimination</li>
    <li>multiple integrals</li>
</ul>

<ul>
    <li>in curves, y bounds are defined in terms of x</li>
    <li>in curves, intermost variable is defiend in terms of previous variable</li>
    <li>constant bounds must be outside</li>
    <li>one integral = two-dimensional</li>
    <li>two integrals = three-dimensional</li>
    <li>three integrals = four-dimensional</li>
</ul>

<p>
    <a href="https://youtu.be/UubU3U2C8WM" target="_blank">YouTube</a>
</p>

<p>
    done
</p>