<h1>متغیر</h1>

<ul>
    <li>math</li>
    <li>algebra</li>
    <li>symbols</li>
    <li>arithmetics</li>
    <li>equation</li>
    <li>Algebraic equation</li>
    <li>variable (mathematics)</li>
    <li>constant</li>
    <li>expression (mathematics)</li>
    <li>multiplication</li>
    <li>algebraic properties</li>
</ul>

<hr />

<ul>
    <li>variables & constants = letters & symbols</li>
    <li>equation = variable + number + operation</li>
    <li>multiplication of variable and number = no need to multiplication sign</li>
</ul>

<p>
    done
</p>