<h1>ایده ها</h1>

<ul>
    <li>
        <a href="/ideas/machine-code-review">Machine code review</a>
    </li>
    <li>
        <a href="/ideas/office-flashcards">فلش کارت های آفیس</a>
    </li>
</ul>

<p>
    پلتفرم واسطه گری، و آموزش همزمان تایپ، به اسم تاپیک. 
    میتونیم تایپ رو اینطوری purposeful کنیم که طرف واقعا در حین یادگیری تایپ کار انجام بده. یعنی ما یه community آنلاین واسه تایپ تشکیل بدیم که افراد مثلا توش عکس بندازن از نامه دستی که نوشتن، یا از یه چیزی که لازمه تایپ شه، بعد اونو آپلود کنن به عنوان کار، بعد اونور افراد واقعا اینا رو تایپ کنن که در حین انجام کار واقعی تایپ هم انجام بدن.
</p>