@using Holism.Web;
@{
    Layout = Layouts.ListAnatomy;
}

@section Filters {
    @Html.Partial(Filters.BrowseFilter, new BrowseFilterParameters { ColumnName = "ChapterNumber", Entity = "Chapter", Placeholder = "سوره" })
    @Html.Partial(Filters.TextFilter, new TextFilterParameters { ColumnName = "VerseNumber", Placeholder = "شماره آیه" })
}

@section RowHeaders {
    <td>سوره</td>
    <td>آیه</td>
    <td>نکته</td>
}

@section Rows {
    <td>{{ item.relatedItems.chapter.title }} ({{ item.chapterNumber }})</td>
    <td>{{ item.verseNumber }}</td>
    <td>{{ item.note }}</td>
}