<h1>مِه بانگ</h1>

<ul>
    <li>astrophysics</li>
    <li>cosmology</li>
    <li>early civilizations</li>
    <li>mythology</li>
    <li>empirical evidence</li>
    <li>evidence</li>
    <li>bya (billion years ago)</li>
    <li>big bang</li>
    <li>Fred Hoyle</li>
    <li>chronology of the universe</li>
    <li>age of the universe</li>
    <li>origin of the universe</li>
    <li>the uncaused cause</li>
    <li>Heisenberg uncertainty principle</li>
    <li>quantum fluctuation</li>
    <li>particle</li>
    <li>virtual particle</li>
    <li>fundamental force</li>
    <li>particle accelerator</li>
    <li>gravity</li>
    <li>electromagnetic force</li>
    <li>strong force</li>
    <li>weak force</li>
    <li>plank epoch</li>
    <li>quantum gravity</li>
    <li>theory of everything</li>
    <li>grand unification epoch</li>
    <li>electrostrong force</li>
    <li>grand unified theory</li>
    <li>symmetry breaking</li>
    <li>phenomenon</li>
    <li>transition temperature</li>
    <li>electroweak epoch</li>
    <li>electroweak force</li>
    <li>inflationary epoch</li>
    <li>universe expansion</li>
    <li>order of magnitude</li>
    <li>magnitude</li>
    <li>factor</li>
    <li>light year</li>
    <li>fundamental particle</li>
    <li>plasma</li>
    <li>quark</li>
    <li>antiquark</li>
    <li>gluon</li>
    <li>qurak gluon plasma</li>
    <li>quark epoch</li>
    <li>higgs field</li>
    <li>mass</li>
    <li>proton</li>
    <li>neutron</li>
    <li>theoretical physics</li>
    <li>experimental physics</li>
    <li>hadrons</li>
    <li>baryons</li>
    <li>hadron epoch</li>
</ul>

<hr />

<ul>
    <li>how, when, and why did the universe begin?</li>
    <li>13.8 bya, from a tiny point</li>
</ul>

<hr />

<p>
    <a href="https://youtu.be/0L_MvPLspdg" target="_blank">YouTube</a>
</p>