<h1>زاویه</h1>

<ul>
    <li>algebra</li>
    <li>geometry</li>
    <li>trigonometry</li>
    <li>triangle</li>
    <li>angle</li>
    <li>coterminal</li>
    <li>ray (geometry)</li>
    <li>cartesian coordinate system</li>
    <li>theta</li>
    <li>clockwise</li>
    <li>counterclockwise</li>
    <li>positive angle</li>
    <li>negative angle</li>
    <li>degree (angle)</li>
    <li>radian</li>
    <li>circle</li>
    <li>radius</li>
    <li>circumference</li>
    <li>circle circumference</li>
    <li>diameter</li>
    <li>2 pi radians = 360 degrees</li>
    <li>cotermianl angles</li>
</ul>

<ul>
    <li>circle = 360 degree (history => year and sexagesimal)</li>
    <li></li>
</ul>

<p>
    done
</p>