<h1>مثلثات</h1>

<span>مثلثات</span>
<ul>
    <li>
        <a href="/formal-sciences/trigonometry/angle">زاویه</a>
    </li>
    <li>
        <a href="/formal-sciences/trigonometry/trigonometric-functions">توابع مثلثاتی</a>
    </li>
</ul>