<h1>خط تولید یادگیری همزمان زبان و محتوا</h1>

<img src="https://i.imgur.com/hgCEfEl.png" />

<ol>
    <li>
        R&D
        <ol>
            <li>یافتن دیتای ساختاریافته</li>
            <li>بررسی حجم</li>
        </ol>
    </li>
    <li>
        Analysis & Design, Crawl
        <ol>
            <li>تحلیل ساختار</li>
            <li>تحیل و طراحی دیتابیس</li>
            <li>جمع آوری دیتا از طریق کرالر</li>
            <li>تمیزسازی دیتا (data cleansing)</li>
        </ol>
    </li>
    <li>
        Translation
        <ol>
            <li>ایجاد پنل ترجمه</li>
            <li>انجام ترجمه</li>
            <li>نظارت به ترجمه</li>
        </ol>
    </li>
    <li>
        PHIS app
        <ol>
            <li>ایجاد اپلیکیشن</li>
            <li>ارتباط به زیرساخت تولید</li>
            <li>ارتباط به زیرساخت دیتا</li>
            <li>Unified UI/UX</li>
        </ol>
    </li>
    <li>
        Partial Translation
        <ol>
            <li>کنترل سهمیه</li>
            <li>موتور ترجمه جزئی</li>
            <li>قابلیت های اختصاصی</li>
        </ol>
    </li>
    <li>
        Foll Translation
        <ol>
            <li>کنترل سهمیه</li>
            <li>ارائه ترجمه انسانی</li>
            <li>قابلیت های اختصاصی</li>
        </ol>
    </li>
    <li>
        Personal Repository
        <ol>
            <li>دسترسی ساختاریافته</li>
        </ol>
    </li>
</ol>