<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\bin\Saeed.NefcantoWeb.AdminPanel.dll" stdoutLogEnabled="true" stdoutLogFile=".\bin\" />
  </system.webServer>
</configuration>
<!--ProjectGuid: A1AE9016-AE02-43FE-835D-9B64A968173D-->