@using Humanizer;
@using Microsoft.AspNetCore.Mvc.ViewEngines;
@using Saeed.NefcantoWeb.PublicPanel;
@inject ICompositeViewEngine engine;
@{
    Layout = "/Views/Shared/Layout.cshtml";
    var path = Context.Request.Path.Value;
    var pathSegments = path.Split('/');
    var pascalizedPathSegments = pathSegments.Select(i => i.Titleize().Pascalize()).ToList();
    var pascalizedPath = string.Join('/', pascalizedPathSegments);
    if (BreadcrumbHelper.GetItem(pascalizedPath) != null)
    {
        pascalizedPath += "/Index";
    }
    var viewPath = $"/Views{pascalizedPath}.cshtml";
}

@*<h1 style="directio   n: ltr">@viewPath</h1>*@

@if (path == "/")
{
    <partial name="Menu" />
}
else
{
    var viewResult = engine.GetView(null, viewPath, false);

    if (viewResult.Success)
    {
        <partial name="Breadcrumb" />
        <partial name="@viewPath" optional="true" />
        var physicalPath = $"{AppContext.BaseDirectory}{viewResult.View.Path}";
        physicalPath = physicalPath.Replace("/", "\\").Replace("\\\\", "\\");
        physicalPath = physicalPath.Replace("\\bin", "");
        if (System.IO.File.Exists(physicalPath))
        {
            var html = System.IO.File.ReadAllText(physicalPath);
            var match = System.Text.RegularExpressions.Regex.Match(html, @"(?<=<h1>)[^<]*");
            if (match.Success)
            {
                ViewBag.Title = match.Value;
            }
        }
        <hr />
        if (!Holism.Framework.Config.IsDeveloping)
        {
            <partial name="Disqus" />
        }
    }
    else
    {
        <p>مطلبی که درخواست کردین پیدا نشد.</p>
        <a href="/">صفحه اصلی</a>
    }
}