<h1>Resume</h1>

@*
    todo: take tests on these platforms
    https://www.testdome.com/for-jobseekers
    hackerranks
    turing
*@

<a href="https://app.testdome.com/cert/46706b1446ba4b7f83607f388b4b1896" class="testdome-certificate-stamp gold"><span class="testdome-certificate-name">Saeed Nemati</span><span class="testdome-certificate-test-name">C# </span><span class="testdome-certificate-card-logo">TestDome<br />Certificate</span></a>
<script>var stylesheet = "https://app.testdome.com/content/source/stylesheets/embed.css", link = document.createElement("link"); link.href = stylesheet, link.type = "text/css", link.rel = "stylesheet", link.media = "screen,print", document.getElementsByTagName("head")[0].appendChild(link);</script>