@using Holism.Vue; 
@{ 
    Layout = Config.Layout;
}

<h1>I am v</h1>

<h1>{{ message }}</h1>

<span v-bind:title="message">title</span>

<button v-on:click="doSomething()">button</button>

<input v-model="message" />

<h1 v-if="message == 'saeed'">yeah</h1>

<ul>
    <li v-for="person in persons">{{ person.name }} - {{ person.age }}</li>
</ul>